body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

header{
    height: 80px;
    width: 100%;
    background-color: #008516;
    text-align: center;
}


main{
    
    height: 800px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(166, 212, 153);
    border-radius: 5px;
    padding: 20px;
}
input{
    border: none;
    width: 300px;
    height: 40px;
    margin: 5px;
    margin-bottom: 8px;

}
footer{
    width: 100%;
    height: 40px;
    background-color: #000c01;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaovoltar{
    width: 80px;
    height: 40px;
    border: none;
    background-color: #023c0b;
    border-radius: 8px;

}
.botaovoltar a{
    color: whitesmoke;
    text-decoration: none;
    font-size: medium;
    
}